.left {
  float: left;
}

.right {
  float: right;
}

nav {
  min-width: 100%;
  min-height: 4em;
  background-color: white;
  z-index: 9999;
  padding: 5px;
  background: -webkit-linear-gradient(top, rgba(255,0,0,0), rgba(255,255,255,0.25), rgba(255,255,255,1)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(top, rgba(255,0,0,0), rgba(255,255,255,0.25), rgba(255,255,255,1)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(top, rgba(255,0,0,0), rgba(255,255,255,0.25), rgba(255,255,255,1)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to top, rgba(255,0,0,0), rgba(255,255,255,0.25), rgba(255,255,255,1)); /* Standard syntax (must be last) */
  -webkit-filter: blur(0.2px);  /* Chrome, Safari, Opera */
  filter: blur(0.2px);
}

i {
  padding: 15px;
}

.logo {
  padding-left: 10em;
}


img.bg {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;

  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;

  -webkit-filter: blur(0px);  /* Chrome, Safari, Opera */
  filter: blur(0px);

  opacity: 0.9;
  z-index: -9999;

}

footer {
  bottom: 0;
  left: 0;
  clear: both;
  position: absolute;
  width: 100%;
  padding: 5px;
  color: white;
  font-family: Raleway;
  background: rgba(0,0,0,0.4);
}

.siteDeveloper {
  padding-right: 30px;

}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
  img.bg {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}